@import "../style.styl";

//
// Footer
// --------------------------------------------------

footer
    font-size 10px
    margin-bottom 20px
    // padding-top 80px
    
    .text-center
        padding-top 30px
        position relative

        &:before
            background site-white
            content ""
            display block
            height 1px
            left 50%
            margin-left -45px
            position absolute
            top 0
            width 90px