@import "../style.styl";

//
// Buttons
// --------------------------------------------------

.btn
    background transparent
    border-radius 0
    border 2px solid site-white
    color site-white
    font-size 13px
    padding 10px 20px
    text-transform uppercase

    @media (min-width: width-tabletlandscape)
        font-size 16px
        padding 20px 40px

    &:focus
    &:hover
        background site-white
        color site-black